Repository FriendsOfTYPO3/introduction, pull requests merged in 2022-04, with the labels that each got.

#75 [TASK] Update DDEV configuration
  .ddev/config.yaml
Labels: maintenance

#76 [TASK] Introduce typo3/coding-standards
  .editorconfig
  .gitignore
  .php-cs-fixer.dist.php
  Classes/EventListener/AfterExtensionSiteFilesHaveBeenImportedEventListener.php
  Initialisation/Files/images/introduction-package-inverted.svg
  Initialisation/Files/images/introduction-package.svg
  composer.json
Labels: maintenance

#74 [TASK] Align with new TYPO3 documentation standards
  Documentation/Includes.rst.txt
  Documentation/Includes.txt
  Documentation/Index.rst
  Documentation/Installation.rst
  Documentation/Introduction.rst
  Documentation/Maintenance.rst
  Documentation/Settings.cfg
  Documentation/Sitemap.rst
  Documentation/genindex.rst
  README.md
  composer.json
Labels: documentation, maintenance

#77 [DOCS] Add hint for extension:setup
  Documentation/Installation.rst
  Documentation/Maintenance.rst
Labels: documentation

#78 [DOCS] Update branch 4.4
  Documentation/Installation.rst
  Documentation/Introduction.rst
  Documentation/Settings.cfg
  README.md
  composer.json
Labels: documentation

#79 [DOCS] Update branch 4.3
  .editorconfig
  .gitignore
  .php-cs-fixer.dist.php
  Documentation/Includes.rst.txt
  Documentation/Includes.txt
  Documentation/Index.rst
  Documentation/Installation.rst
  Documentation/Introduction.rst
  Documentation/Maintenance.rst
  Documentation/Settings.cfg
  Documentation/Sitemap.rst
  Documentation/genindex.rst
  Initialisation/Files/images/introduction-package-inverted.svg
  Initialisation/Files/images/introduction-package.svg
  README.md
  composer.json
Labels: documentation, maintenance
